extends layout

block content
    script(src="/js/main.js")
    link(rel="stylesheet", href="/css/detail.css")
    h1 자세히보기
    div.btn_con(data-m_seq= item.m_seq)
        input(type="button",value="수정",)
        input(type="button", value = "삭제",)
        input(type="button", value= "리스트")
    table.table_list
        img(src=`${item.m_image ?`/uploads/${item.m_image}`:"/images/noImage.svg"}` ,width="80px")
        tr
            th 번호
            th 작성일자
            th 작성시간
            th 작성자
            th 작성한메모
        tr
            td=item.m_seq
            td=item.m_date
            td=item.m_time
            td=item.m_author
            td=item.m_memo
    
            