extends layout

block content
  script(src="/js/main.js")
  link(rel="stylesheet", href="/css/main.css")
  header 
    h1 오늘은 내 생의 가장 젊은 날
  div.input_box
    input(type="date",value=`${today}`,readonly)
    input(type="text",value=`${time}`,readonly)
    input(type="button",value ="새로작성")
  div.inline
    table
      if row
        each item in row
          div.list(data-m_seq = item.m_seq)
            img(src=`${item.m_image ?`/uploads/${item.m_image}`:"/images/noImage.svg"}` ,width="80px")
            p=item.m_memo
          
