extends layout


block content
    link(rel="stylesheet", href="/css/insert.css")
    script(src="/js/main.js")
    h1=`${data ? "정보수정": "새로작성"}`
    form.form_box(method ="POST", enctype= "multipart/form-data" )
        div
            input.first(type="text",name= "m_title", placeholder="제목을 입력해주세요",value=`${data ? data.m_title:""}`)
            input.second(type="text",name= "m_memo", placeholder="내용을 입력해주세요", value=`${data ? data.m_memo : ""}`)
            img.img_add(src=data? `/uploads/${data.m_image}` : "/images/noImage.svg", width = "100px",height ="100px", alt="추가아이콘") 
            input(type="file" , name="m_image",accept="image/*", id="m_image")
        div.btn_con
            input(type="submit",value="저장")
            input(type="button", value="리스트")