extends ../layout

block content
    link(rel="stylesheet", href="/css/add.css")
    if !BTD
        script(src = "/js/add.js")
        form.books(method="POST")      
            input(placeholder ="isbn", name="isbn",  value= `${BTD ? BTD.b_isbn : ""}` )
            div.error.b_is
            input(placeholder ="출판사" name="publisher" value= `${BTD? BTD.b_publisher:""}`)    
            div.error.b_publisher
            input(placeholder ="저자" name="author" value= `${BTD ? BTD.b_author : ""}`)
            div.error.b_author 
            input(placeholder ="발행일") 
            input(placeholder ="도서명" name="title" value= `${BTD ?BTD.b_title : ""}`) 
            div.error.b_title
            input(placeholder ="가격" name="price" value= `${BTD ? BTD.b_price : ""}`)
            div.error.b_price
            input(placeholder ="메모") 
            button.save(type=`${BTD ? "submit" : "button"}`) 저장
    div.add 
        a(href="#") 새로작성
    div.list 
        a(href="/") 리스트