extends ../layout

block content
    link(rel="stylesheet", href="/css/detail.css")
    script(src="/js/detail.js")
    h3.books 도서정보 자세히 보기

    div
        strong ISBN
        span= BTD.b_isbn 
    div
        strong 도서명
        span= BTD.b_title
    div
        strong 저자
        span= BTD.b_author
    div
        strong 출판사
        span= BTD.b_publisher
    div
        strong 가격
        span= BTD.b_price
    div 
        strong 할인가
        span= BTD.b_discount 

    div 
        strong 요약
        span= BTD.b_description 
    div 
        strong 출판일
        span= BTD.b_pubdate  
    .btn_box 
        button.btn_list 리스트
        button.btn_update(data-isbn=`${BTD.b_isbn}`) 수정
        button.btn_delete(data-isbn=`${BTD.b_isbn}`) 삭제