extends ../layout


block content
    script(src="/js/list.js")
    link(rel="stylesheet", href="/css/list.css")
    h1.books 도서정보
    table.books.list 
        tr 
            th No.
            th ISBN
            th 도서명
            th 저자
            th 출판사
            th 가격
            th 할인가
        each item,index in bList
            tr 
                td #{index+1}
                td=item.b_isbn
                td=item.b_title 
                td=item.b_author 
                td=item.b_publisher 
                td=item.b_price
                td=item.b_discount
                
    .books.btn_add 
        a(href="books/add") 도서등록